@{
    ViewBag.Title = "添加讲师";
}
<form action="/LecturerManager/Add" method="post" target="formSubmit" enctype="multipart/form-data" style="margin:0.5em;">
    <fieldset class="form-group">
        <label for="nickname">用户昵称</label>
        <input type="text" class="form-control" id="nickname" name="nickname" placeholder="请输入讲师昵称" value="" />
        @*<small class="text-muted">We'll never share your email with anyone else.</small>*@
    </fieldset>

    <fieldset class="form-group">
        <label for="profile">讲师简介</label>
        <input type="text" class="form-control" id="profile" name="profile" placeholder="请输入讲师简介" value="" />
    </fieldset>

    <fieldset class="form-group">
        <label for="headShowUrl">头像</label>
        <br />
        <input type="file" class="form-control-file" name="file" />
        <small class="text-muted">请选择头像</small>
    </fieldset>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>